.registerForm{
  form{
    .form-control{
      border-radius: unset;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.27);
      &:focus{
        box-shadow: none;
        border-bottom: 2px solid rgba(29, 29, 195, 0.63);
      }
    }
    .form-check-input{
      border: 0.5px solid rgba(0, 0, 0, 0.27)
    }
    .btn{
      background-color: #0a5a0e;
      border-color: #0a5a0e;
      &:focus{
        background-color:#1d1dc3;
        border-color:#1d1dc3;
      }
    }
  }
}