@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;1,600&display=swap');
$font-navbar-brand : 'Josefin Sans', sans-serif;
.navbar{
  margin-bottom: 30px;
  .navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    .mot-1{
      font-family: $font-navbar-brand;
      color: #950a0a;
    }
    .mot-2{
      font-family: $font-navbar-brand;
      color: #1d1dc3;
    }
  }
  .navbar-toggler{
    border: none;
    &:focus{
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  .navbar-nav{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px !important;
    text-align: center;
    .active{
      border-bottom: 3px solid #950a0a;
    }
    .nav-item{
      :hover{
        color: #950a0a;
      }
    }
  }
  form{
    button{
      border: none;
      background-color: rgba(255, 255, 255, 0);
    }
    ul{
      li{
        margin-bottom: 5px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}